/* este es mi archivo de estilos*/

h1 {
    color: red;
    font-size: 80px;
}

h2 {
    color: green;
}

body {
    background-color: black;
    background-color: rgba(162, 17, 17, 0.5);
}

p {
    color: white;
}

#parrafo1 {
    color: yellow;
}

#parrafo2 {
    color: black;
}


/* definir estilos de la clase caja*/

.caja {
    border: 1px solid #fff;
    height: 50px;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

.caja#cajaroja {
    border: 1px solid red;
}